.similar__container {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0 15px;
}
.img__containter {
  position: relative;
  width: 255px;
  height: 318px;
  img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }
}