body {
  font-family: "Spartan", sans-serif;
  color: #121212;
}
.sort__main {
  max-width: 1110px;
  margin: 0 auto;
}
.sort__title {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1220px) {
  .sort__navigation {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px 0 0 0;
  }
}
@media (max-width: 400px) {
  .sort__navigation {
    display: none;
  }
}
.sort__logo {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.06em;
}
.sort__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.06em;
    opacity: 0.6;
    padding-left: 32px;
  }
  li:first-child {
    font-weight: 500;
    opacity: 1;
    padding-left: 0;
  }
}
.sort__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;

}
.item__card {
  max-width: 255px;
}
.item__card-img {
  max-width: 255px;
  max-height: 318px;
}
.item__card-title {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.6;
  color: #121212;
}
.item__card-suptitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__card-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 12px;
  color: #121212;
}
.item__card-score {
  background-image: url(../../../assets/img/men-img/4stars.svg);
  width: 70px;
  height: 14px;
}
.sort__button {
  margin: 48px auto 0 auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 1110px;
  height: 48px;
  border: 2px solid #f8f8f8;
  background-color: #f8f8f8;
  text-transform: uppercase;
}

.clothes{
  &__top{
    margin-top: 96px;
    margin-bottom: 50px;}
  &__header{
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
  }
  &__title{
    font-family:var(--Spartan);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }
  &__filter{
    display: flex;
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
  }
  &__sorting{
    padding-top: 9px;
    padding-left: 32px;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #121212;
    opacity: 0.6;
    list-style-type: none;
    cursor: pointer;
    &--active{
      opacity: 1;
      font-weight: 500;
    }
  }
  &__grid{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-gap: 30px;
    @media (max-width: 992px){
      grid-template-columns: repeat(3,1fr) ;
    }
    @media (max-width: 768px){
      grid-template-columns: repeat(2,1fr) ;
    }
  }
  &__button{
    width: 100%;
    margin-top: 48px;
    padding: 18px 15px 16px;
    font-family:  var(--Spartan);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.8;
  }
}
